@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  /* font-size: 62.5%;rem算出をしやすくするために */
}

/* body {
  font-size: 1rem;
} */


.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}
.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}

.btn--blue {
  background-color: #3161a0;
  color: #fff;
}


.btn--blue:hover {
  color: #fff;
  background: #3161a0;
}

.btn--blue.btn--cubic {
  border-bottom: 5px solid #00459f;
}

.btn--blue.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00459f;
}

.btn--radius {
  border-radius: 1.5rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}